ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(44, 124, 174);
  position: sticky;
  top: 0;
  width: 100%;
  } 

  li{
    float: right;
  }
    li a{ 
    color: white;	
    padding: 15px 50px;
    display: block;
    text-decoration: none;
     }
     li a:hover{
       background-color: rgb(10, 37, 43);
     }
     /* login css */
     form{
			background-color:rgb(26, 110, 139);
			border: 5px solid grey;
			width:350px;
      height: 600px;
			margin: 5px 10px 65px 460px;
			padding: 10px 15px 20px 15px;
			background-size: cover;
			border-radius: 10px;
			outline-color: black;
      color: aliceblue;

		
		}
		
		h1{ text-align: center; 
			color: blue;}

		button:hover {background-color: green;}

    /* home css */
.g{
 background-color: rgb(240, 255, 255);

}
.fonts{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-style: italic;
  color: darkcyan;
}

/* aboute is a login page */

.b{
  background-color:rgb(26, 110, 139);
  width: 350px;
  height: 200px;
  border: 2px solid grey;
  padding: 50px;
  margin-top: 50px;
  color: blanchedalmond;
}

.in{color: cadetblue;}
.logo{color: cornflowerblue;}
